@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap");

* {
  box-sizing: content-box;
}
body {
  font-family: "Red Hat Display", sans-serif;
  background-image: url(../img/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-color: hsl(225, 100%, 94%);
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 458px;
  height: 630px;
  background-color: white;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.illustration {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  width: 100%;
}

.containertitle {
  text-align: center;
}

.text {
  margin: 0 3rem;
  color: hsl(224, 23%, 55%);
  line-height: 25px;
}

.pay {
  display: flex;
  justify-content: space-around;
  background-color: hsl(225, 100%, 98%);
  border-radius: 1rem;
  margin: 2rem 10%;
}

.containermusic {
  display: flex;
  display: flex;
  align-items: center;
  padding: 5%;
}

.containeprice {
  display: block;
  margin: 0 1.5rem;
}

.Annual {
  margin: 0;
  font-weight: bold;
}

.Number {
  margin: 0;
  color: hsl(224, 23%, 55%);
  font-size: 14px;
}

.containerchange {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.change {
  text-decoration: none;
  cursor: pointer;
  margin-right: 15px;
}

.cancel {
  text-decoration: none;
  cursor: pointer;
}

.container-button {
  text-align: center;
  border: none;
}

button {
  margin: 0 1rem;
  background-color: hsl(245, 75%, 52%);
  padding: 1rem 6.5rem;
  border-radius: 1rem;
  color: white;
  border-style: none;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0px 10px 10px -6px hsl(245, 85%, 68%);
}

.cancel {
  color: hsl(224, 23%, 55%);
  font-weight: bold;
  font-size: 15px;
}

.containercancel {
  padding: 1.2rem 0;
}

@media (max-width: 480px) {
  body {
    margin: 2% 2%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
